body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #000000;
}

.receita {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
}

.receita img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.botao {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: none;
}

.escondidinho {
    width: 40000px;
    height: 300px;
    background-image: url('Escondidinho_de_carne_moída.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
 
  .fricasse {
    width: 400px;
    height: 300px;
    background-image: url('fricasse-1628262666.webp');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  

  .lasanha {
    width: 400px;
    height: 300px;
    background-image: url('lasanha-de-carne-com-requeijao-Terra-1-12.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
  .carbonara {
    width: 400px;
    height: 300px;
    background-image: url('macarrao-carbonara-1.webp');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  